.divContainer {
  background-image: linear-gradient(to right, #ffeeee, #ffebeb, #ffc0bb);
  min-height: 100vh;
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container {
  background-color: #ffffff;
  border-radius: 8px;
  border-width: 0px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 14px;
  padding-bottom: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.question {
  font-family: 'Roboto';
  font-size: 21px;
  color: #0f172a;
  font-weight: bold;
  text-align: center;
}
.listContainer {
  list-style: none;
  padding-left: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loveImage {
  width: 60px;
}
.thankyou {
  font-family: 'Roboto';
  font-weight: bold;
  color: #0f172a;
  font-size: 20px;
  text-align: center;
}
.description {
  font-family: 'Roboto';
  color: #1e293b;
  font-size: 18px;
  text-align: center;
}
.displayQuestion {
  display: block;
}
.displayThankyou {
  display: none;
}
.displayQuestionNone {
  display: none;
}
.displayThankyouBlock {
  display: block;
}

@media screen and (min-width: 768px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 45px;
    padding-bottom: 24px;
    width: 550px;
  }
  .question {
    font-size: 29px;
  }
}
